.fv_form {
  width: auto;
  display: block;
  position: relative;
}
.fv_form.fv_object_field > .fv_input_holder {
  padding-left: 0px;
}
.fv_form.fv_field.rows > .fv_input_holder {
  width: 100%;
}
.fv_field {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  vertical-align: top;
}
.fv_field.rows,
.fv_field.rows .fv_field {
  /* Float fix */
}
.fv_field.rows:after,
.fv_field.rows .fv_field:after {
  clear: both;
}
.fv_field.rows:before,
.fv_field.rows .fv_field:before,
.fv_field.rows:after,
.fv_field.rows .fv_field:after {
  content: " ";
  display: table;
}
.fv_field.rows > .fv_field_title,
.fv_field.rows .fv_field > .fv_field_title {
  width: 20%;
  float: left;
  padding-top: 9px;
  vertical-align: top;
}
.fv_field.rows > .fv_field_description,
.fv_field.rows .fv_field > .fv_field_description {
  width: 20%;
  float: left;
  clear: left;
  vertical-align: top;
}
.fv_field.rows > .fv_input_holder,
.fv_field.rows .fv_field > .fv_input_holder {
  width: 80%;
  display: inline-block;
}
.fv_field.rows > .fv_error_message,
.fv_field.rows .fv_field > .fv_error_message {
  margin-left: 20%;
}
.fv_field.rows.fv_in_array > .fv_input_holder,
.fv_field.rows .fv_field.fv_in_array > .fv_input_holder {
  width: 100%;
}
.fv_field.rows.fv_in_key_value > .fv_key_value_name_input > .fv_input_holder,
.fv_field.rows .fv_field.fv_in_key_value > .fv_key_value_name_input > .fv_input_holder {
  width: 100%;
}
.fv_field.fv_field_error > .fv_field_title {
  color: #aa0000;
}
.fv_field.fv_disabled > .fv_input_holder > input {
  color: #a8a8a8;
  background-color: #efefef;
}
.fv_field.fv_disabled > .fv_input_holder > textarea {
  color: #a8a8a8;
  background-color: #efefef;
}
.fv_field > .fv_field_title {
  font-size: 16px;
  display: inline-block;
  padding-right: 5px;
  box-sizing: border-box;
}
.fv_field > .fv_error_message > ul {
  background-color: #AA0000;
  color: white;
  font-size: 14px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
  padding-left: 25px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.fv_field > .fv_error_message > span {
  background-color: #AA0000;
  color: white;
  font-size: 14px;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
}
.fv_field > .fv_field_description {
  font-size: 12px;
  padding-right: 5px;
  box-sizing: border-box;
}
.fv_field > .fv_input_holder {
  box-sizing: border-box;
}
.fv_field > .fv_field_move_handle {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #AAA;
  color: white;
  width: 30px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border: none;
}
.fv_field > .fv_field_move_handle:before {
  position: absolute;
  top: 50%;
  left: 14px;
  width: 0;
  height: 0;
  margin-top: -7px;
  margin-left: -5px;
  border-bottom: 6px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
}
.fv_field > .fv_field_move_handle:after {
  position: absolute;
  top: 50%;
  left: 14px;
  width: 0;
  height: 0;
  margin-top: 1px;
  margin-left: -5px;
  border-top: 6px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
}
.fv_field.with_remove_button > .fv_input_holder {
  padding-right: 35px;
}
.fv_field > .fv_field_remove_button {
  -webkit-appearance: none;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #aa0000;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0px;
}
.fv_field > .fv_field_remove_button:active {
  background-color: #770000;
}
.fv_text_field > .fv_input_holder > .fv_text_input {
  width: 100%;
  font-size: 14px;
  vertical-align: top;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  box-sizing: border-box;
  margin: 0px;
  resize: none;
  border: 1px solid #999999;
}
.fv_text_field > .fv_input_holder > textarea.fv_text_input {
  min-height: 100px;
}
.fv_text_field > .fv_input_holder > input.fv_text_input {
  padding-left: 5px;
  padding-right: 5px;
  line-height: 30px;
}
.fv_text_field.fv_field_error > .fv_input_holder > .fv_text_input {
  border: 1px solid #aa0000;
}
.fv_date_field > .fv_input_holder > .fv_date_input {
  width: 100%;
  vertical-align: top;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  box-sizing: border-box;
  margin: 0px;
  resize: none;
  border: 1px solid #999999;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  line-height: 30px;
}
.fv_date_field > .fv_input_holder > .fv_date_separator {
  display: inline-block;
  width: 15px;
  line-height: 34px;
  text-align: center;
  font-weight: bold;
}
.fv_date_field.fv_field_error > .fv_input_holder > .fv_date_input {
  border: 1px solid #aa0000;
}
.fv_choice_field > .fv_input_holder > .fv_choice_input {
  font-size: 14px;
  position: relative;
  width: 200px;
}
.fv_choice_field > .fv_input_holder > .fv_choice_input > .filter_input {
  position: absolute;
  top: 0px;
  width: 100%;
  line-height: 14px;
  padding: 5px;
  margin: 0px;
  outline: none;
  border: none;
  background-color: white;
  z-index: 2;
  border-radius: 0px;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  border: 1px solid #999999;
  font-size: 14px;
}
.fv_choice_field > .fv_input_holder > .fv_choice_input > .filter_input.fv_filter_hidden {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.fv_choice_field > .fv_input_holder > .fv_choice_input > .fv_choice_display {
  position: relative;
  background-color: white;
  border: 1px solid #999999;
  box-sizing: border-box;
  padding: 5px;
  padding-right: 24px;
  line-height: 14px;
  min-height: 24px;
  cursor: pointer;
}
.fv_choice_field > .fv_input_holder > .fv_choice_input > .fv_choice_display.fv_choice_placeholder {
  color: #999999;
}
.fv_choice_field > .fv_input_holder > .fv_choice_input > .fv_choice_display:after {
  position: absolute;
  top: 50%;
  right: 4px;
  width: 0;
  height: 0;
  margin-top: -4px;
  border-top: 8px solid #999999;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  content: "";
}
.fv_choice_field > .fv_input_holder > .fv_choice_input > .fv_choice_list {
  position: absolute;
  z-index: 999999999;
  top: 28px;
  display: none;
  max-height: 200px;
  background-color: white;
  border: 1px solid #999999;
  border-top: none;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
.fv_choice_field > .fv_input_holder > .fv_choice_input > .fv_choice_list > .fv_choice_option {
  display: block;
  cursor: pointer;
  background-color: white;
  border-top: 1px solid #999999;
  line-height: 14px;
  min-height: 24px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.fv_choice_field > .fv_input_holder > .fv_choice_input > .fv_choice_list > .fv_choice_option.fv_selected {
  background-color: #5DB9FF;
  color: white;
}
.fv_choice_field > .fv_input_holder > .fv_choice_input > .fv_choice_list > .fv_choice_option.fv_highlighted {
  background-color: #2B86F3;
  color: white;
}
.fv_choice_field > .fv_input_holder > .fv_choice_input > .fv_choice_list > .fv_choice_option:active {
  background-color: #2B86F3;
  color: white;
}
.fv_choice_field > .fv_input_holder > input.fv_text_input {
  font-size: 14px;
}
.fv_choice_field.fv_disabled > .fv_input_holder > .fv_choice_input > .fv_choice_display {
  background-color: #efefef;
  color: #a8a8a8;
}
.fv_display_field > .fv_input_holder > div {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.fv_boolean_field > .fv_input_holder {
  padding-top: 5px;
  padding-bottom: 5px;
}
.fv_object_field > .fv_input_holder {
  padding-left: 10px;
}
.fv_array_field > .fv_input_holder > .fv_array_fields {
  position: relative;
}
.fv_array_field > .fv_input_holder > .fv_array_fields > .fv_field,
.fv_array_field > .fv_input_holder > .fv_array_fields > .dd-dragel > .fv_field {
  padding-top: 0px;
  padding-bottom: 5px;
  min-height: 35px;
}
.fv_array_field > .fv_input_holder > .fv_array_fields > .fv_field > .fv_field_title,
.fv_array_field > .fv_input_holder > .fv_array_fields > .dd-dragel > .fv_field > .fv_field_title {
  display: none;
}
.fv_array_field > .fv_input_holder > .fv_array_fields > .fv_field.fv_disabled > .fv_input_holder,
.fv_array_field > .fv_input_holder > .fv_array_fields > .dd-dragel > .fv_field.fv_disabled > .fv_input_holder {
  padding-right: 0px;
}
.fv_array_field > .fv_input_holder > .fv_array_fields > .dd-placeholder {
  display: block;
  position: relative;
  margin: 0px;
  margin-bottom: 3px;
  padding: 0px;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
  border: 1px dashed #bbb;
  min-width: 100px;
  background-color: #e5e5e5;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.fv_array_field > .fv_input_holder > .fv_array_fields > .dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.fv_array_field > .fv_input_holder > .fv_array_fields > .fv_field.fv_in_array > .fv_input_holder {
  padding-left: 0px;
}
.fv_array_field > .fv_input_holder > .fv_array_fields > .fv_field.fv_in_array .fv_error_message {
  margin-left: 0px;
}
.fv_array_field > .fv_input_holder > .fv_add_field_button {
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #00aa00;
  color: #ffffff;
  margin: 0px;
  border: none;
  font-size: 14px;
}
.fv_array_field > .fv_input_holder > .fv_add_field_button:active {
  background-color: #007700;
}
.fv_array_field.fv_array_field_sortable > .fv_input_holder > .fv_array_fields > .fv_field > .fv_input_holder,
.fv_array_field.fv_array_field_sortable > .fv_input_holder > .fv_array_fields > .dd-dragel > .fv_field > .fv_input_holder {
  padding-left: 30px;
}
.fv_array_field.fv_array_field_sortable > .fv_input_holder > .fv_array_fields > .fv_field > .fv_error_message,
.fv_array_field.fv_array_field_sortable > .fv_input_holder > .fv_array_fields > .dd-dragel > .fv_field > .fv_error_message {
  margin-left: 30px;
}
.fv_array_field.fv_array_field_sortable > .fv_input_holder > .fv_array_fields > .fv_field.fv_disabled > .fv_input_holder,
.fv_array_field.fv_array_field_sortable > .fv_input_holder > .fv_array_fields > .dd-dragel > .fv_field.fv_disabled > .fv_input_holder {
  padding-left: 0px;
}
.fv_array_field.fv_array_field_sortable > .fv_input_holder > .fv_array_fields > .fv_field.fv_disabled > .fv_error_message,
.fv_array_field.fv_array_field_sortable > .fv_input_holder > .fv_array_fields > .dd-dragel > .fv_field.fv_disabled > .fv_error_message {
  margin-left: 0px;
}
.fv_key_value_field > .fv_input_holder > .fv_key_value_fields > .fv_field {
  padding-top: 0px;
  padding-bottom: 5px;
  min-height: 35px;
}
.fv_key_value_field > .fv_input_holder > .fv_key_value_fields > .fv_field > .fv_input_holder {
  padding-right: 35px;
}
.fv_key_value_field > .fv_input_holder > .fv_key_value_fields > .fv_field > .fv_field_title {
  display: none;
}
.fv_key_value_field > .fv_input_holder > .fv_key_value_fields > .fv_field.fv_disabled > .fv_input_holder {
  padding-right: 0px;
  padding-left: 0px;
}
.fv_key_value_field > .fv_input_holder > .fv_key_value_fields > .fv_field > .fv_key_value_name_input {
  width: 20%;
  display: inline-block;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.fv_key_value_field > .fv_input_holder > .fv_key_value_fields > .fv_field > .fv_key_value_name_input > .fv_field_title {
  display: none;
}
.fv_key_value_field > .fv_input_holder > .fv_key_value_fields > .fv_field > .fv_field_title {
  width: 20%;
  vertical-align: top;
}
.fv_key_value_field > .fv_input_holder > .fv_key_value_fields > .fv_field > .fv_input_holder {
  width: 80%;
  display: inline-block;
}
.fv_key_value_field > .fv_input_holder > .fv_key_value_fields > .fv_field > .fv_error_message {
  margin-left: 20%;
}
.fv_key_value_field > .fv_input_holder > .fv_add_field_button {
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #00aa00;
  color: #ffffff;
  margin: 0px;
  border: none;
  font-size: 14px;
}
.fv_key_value_field > .fv_input_holder > .fv_add_field_button:active {
  background-color: #007700;
}
.fv_proxy_field .fv_input_holder .loading_label {
  line-height: 30px;
  padding-left: 5px;
}
