.fieldval_ui_form{
	width: auto;
	display: block;

	.field_container{
		padding-top: 10px;
		padding-bottom: 10px;
		box-sizing: border-box;

		&.field_error{
			>.field_title{
				color: red;
			}
			>.field{
				>.input_holder{
					>input{
						border: 1px solid red;
					}
					>textarea{
						border: 1px solid red;
					}
				}
			}
		}

		.field_title{
			font-size: 15px;
			display: inline-block;
			padding-right: 5px;
		}

		.error_message{
			background-color: red;
			color: white;
			font-size: 12px;
			display: inline-block;
			padding: 5px;
		}

		.field{
			margin-top: 5px;

			>.input_holder{
				box-sizing: border-box;
				>input{
					padding-left: 5px;
					box-sizing: border-box;
					margin: 0px;
					height: 30px;
					line-height: 30px;
					border: 1px solid #999;
				}
				>textarea{
					margin: 0px;
					resize: none;
					min-height: 100px;
					box-sizing: border-box;
				}
			}
		}
	}
}

.text_field{
	>.input_holder{
		>textarea.text_input{
			width: 100%;
		}
		>input.text_input{
			width: 100%;
		}
	}
}

.date_field{
	>.input_holder{
		>.date_input{
			&.day_input{
				width: 26%;
				margin-right: 4%;
			}
			&.month_input{
				width: 26%;
				margin-right: 4%;
			}
			&.year_input{
				width: 40%;
			}
			display: inline-block;
		}
	}
}